<div class="view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-info-sign"></span> About</h3>
        </header>
        <br />
        <div class="container">
            <div class="row">
                <div class="span2">Created by:</div>
                <div class="span9"><a href="http://twitter.com/ullasbelagavi" target="_blank">Ullas Belagavi</a></div>
                <br />
                <div class="span9">MS Software Engineer Student<br />
                    San Jose State University<br />
                    Software Engineer in Tech Mahindra(AT&T)<br />
                    Email: ubullas@gmail.com

            </div>
            <br />
            <br />
        </div>
    </div>
</div>


